
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    background: linear-gradient(to right, var(--light-bg) 60%, var(--secondary-color));
    font-family: var(--font-family-main);
  }
  
  .hero-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 30%;
  }
  
  .hero-left h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: var(--text-dark);
  }
  
  .hero-left p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: var(--text-dark);
    opacity: 0.7;
  }
  
  .btn-started {
    width: 20rem;
    background-color: var(--accent-color);
    color: var(--text-light);
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: var(--shadow-soft);
  }
  
  .hero-socials {
    margin-top: 2rem;
  }
  
  .hero-socials a {
    font-size: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--primary-color);
  }
  
  .hero-center {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-car {
    width: 100%;
    max-width: 500px;
    /* margin-top: 10rem; */
  }
  
  .hero-badge {
    position: absolute;
    top: 10%;
    right: 5%;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-soft);
    text-align: center;
  }
  
  .hero-badge span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    display: block;
  }
  
  .hero-badge small {
    font-size: 1rem;
    color: var(--text-dark);
  }
  
  .hero-right {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    gap: 10rem;
    text-align: left;
  }

  .hero-right .hero-right-top{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .hero-users img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -10px;
    border: 2px solid #fff;
    box-shadow: var(--shadow-soft);
  }
  
  .hero-right p {
    font-size: 1.3rem;
    color: var(--text-dark);
    /* margin: 1rem 0; */
  }

  .hero-right .hero-actions{
    width: 50%;
  }

  .hero-right .hero-right-bot{
    display: flex;
    flex-direction: column;
  }
  
  .hero-actions button {
    background: transparent;
    border: 1px solid var(--primary-color);
    padding: 0.6rem 1.2rem;
    margin: 0.5rem;
    margin-left: 0;
    border-radius: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--primary-color);
    transition: 0.3s;
  }
  
  .hero-actions button:hover {
    background-color: var(--primary-color);
    color: white;
  }
  
  .learn-more {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: var(--text-dark);
    text-decoration: none;
  }
  