.why-choose {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 4rem 18rem;
    flex-wrap: wrap;
    /* font-family: 'Segoe UI', sans-serif; */
  }
  
  .why-left {
    flex: 1;
    gap: 5rem;
    min-width: 300px;
  }
  
  .why-left h2 {
    font-size: 5rem;
    font-weight: bold;
    color: #111;
    margin-bottom: 5rem;
    line-height: 1.3;
  }
  
  .why-left p {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.6;
    max-width: 400px;
  }

  .why-left button{
    margin-top: 5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .why-right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    
  }

  .why-right::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    border-radius: 70%;
    background: linear-gradient(to right, 
    var(--light-bg) 0%, 
    var(--light-bg) 25%, 
    var(--secondary-color) 50%, 
    var(--light-bg) 75%, 
    var(--light-bg) 100%);
  }
  
  .car-img {
    width: 100%;
    max-width: 1000px;
    z-index: 1;
    animation: float 4s infinite;
    transition: 2s ease;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
     }
      50% {
       transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }
  
  
  .tag {
    position: absolute;
    background: rgba(255, 255, 255, 0.557);
    padding: 1.6rem 1.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    max-width: 120px;
    z-index: 2;
  }
  
  .tag h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  .tag p{
    font-size: 1.1rem;
  }
  
  .easy-booking {
    top: 25%;
    left: 10%;
  }
  
  .quality-variety {
    top:10%;
    right: 18%;
  }
  
  .affordable-rates {
    bottom: 22%;
    right: 15%;
  }
  