.about-container {
  background: var(--light-bg);
  color: var(--text-dark);
  padding: 1rem 2rem;
  padding-bottom: 1rem;
  font-family: var(--font-family-main);
    background: linear-gradient(to right, 
    var(--light-bg) 0%, 
    var(--light-bg) 25%, 
    var(--secondary-color) 50%, 
    var(--light-bg) 75%, 
    var(--light-bg) 100%);
}

.about-content {
  max-width: 1280px;
  margin: auto;
}

.about-intro {
  text-align: center;
  margin-bottom: 4rem;
}

.about-intro h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.about-intro h2 span {
  color: var(--primary-color);
}

.about-intro p {
  font-size: 1.6rem;
  color: var(--text-medium);
  margin: 1.2rem auto;
  max-width: 1000px;
  line-height: 1.8;
}

.about-features {
 display: flex;
 flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.feature-card {
  width: 30rem;
  background: var(--medium-bg);
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  transition: 0.3s ease;
  box-shadow: var(--shadow-soft);
}

.feature-card:hover {
  background-color: var(--dark-bg);
  color: var(--text-light);
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 2rem;
  color: var(--primary-color);
  background-color: var(--light-bg);
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-info h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.feature-info p {
  font-size: 1.6rem;
  opacity: 0.85;
  line-height: 1.6;
}

.about-story,.about-mission {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 3rem;
  margin-top: 4rem;
  align-items: center;
}

.about-text-block {
  flex: 1 1 55%;
  color: var(--text-dark);
}

.about-text-block h3 {
  font-size: 2.2rem;
  color: var(--primary-color);
  margin-bottom: 0.8rem;
}

.about-text-block p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.about-image-block {
  flex: 1 1 40%;
  text-align: center;
}

.about-image-block img {
  width: 100%;
  max-width: 480px;
  object-fit: contain;
  border-radius: 12px;
}




@media (max-width: 768px) {
  .about-intro h2 {
    font-size: 2.4rem;
  }

  .about-intro p {
    font-size: 1.3rem;
  }

  .feature-info h4 {
    font-size: 1.4rem;
  }

  .feature-info p {
    font-size: 1.2rem;
  }
}
