.dream-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1610290478737-019e38efcca1?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: 100%;
    background-size: 100%;
    /* background-color: var(--dark-bg); */
    border-radius: 20px;
    padding: 40px 60px;
    max-width: 1250px;
    margin: 40px auto;
    overflow: hidden;
    box-shadow: var(--shadow-soft);
    font-family: var(--font-family-main);
  }
  
  .banner-content {
    flex: 1;
    color: var(--text-light);
  }
  
  .banner-content h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  .banner-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .banner-btn:hover {
    background-color: var(--accent-color);
  }
  
  .banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0 20px 20px 0;
  }
  