*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:10px;
}

:root {
    /* Brand Colors */
    --primary-color: #0072ce;       /* Bright blue from the logo */
    --secondary-color: #d5e9f8;     /* Light background blue */
    --accent-color: #63b400;        /* Lime green for highlights */
    --ternary-color: #a0db8e;       /* Softer green if needed */
  
    /* Background & Text */
    --light-bg: #f6fbfe;            /* Very light blue background */
    --medium-bg: #dbeeff;
    --dark-bg: #0b2d4a;             /* Dark navy for header/footer */
  
    --text-dark: #0c1d2c;           /* Very dark blue */
    --text-light: #ffffff;
  
    /* Font */
    --font-family-main: 'Segoe UI', sans-serif;
  
    /* Shadow */
    --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.08);
  }
  


body{
    width: 100%;
    background-color: var(--light-bg);
    font-family: var(--font-family-main);
    /* overflow-x: hidden; */
}


.h3head{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.para{
    font-family: 'Inter', sans-serif;
}

.discover-btn{
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    color: #000;
    z-index: 10;
    text-decoration: none;
    transition: 0.25s ease;
    position: relative;
    display: inline-block;
    align-items: left;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.discover-btn:after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 82px;
  background-color: black;
  transition: 0.2s ease; 
}

.discover-btn:hover:after{
    width: 60px;
  background-color: var(--dark-bg);
}

.discover-btn:hover{
    color: var(--dark-bg);
}