*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:10px;
}

/* ===== Root Theme Variables ===== */
:root {
    /* Brand Colors */
    --primary-color: #8d7b4f;         /* Warm earthy brown */
    --secondary-color: #f3dfc9;       /* Light beige (used for cart bg) */
    --accent-color: #e2c6a2;          /* Slightly deeper beige */
    --ternary-color: #f0ddc7;
    /* Background & Text */
    --light-bg:#f5f5f5 ;
    --medium-bg:#E5E5E5 ;
    --dark-bg: #d54a2a;
  
    --text-dark: #222;
    --text-light: #fff;
  
    /* Font */
    --font-family-main: 'Segoe UI', sans-serif;
  
    /* Shadow */
    --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.08);
  }
  


body{
    width: 100%;
    background-color: var(--light-bg);
}


.h3head{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.para{
    font-family: 'Inter', sans-serif;
}

.discover-btn{
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    color: #000;
    z-index: 10;
    text-decoration: none;
    transition: 0.25s ease;
    position: relative;
    display: inline-block;
    align-items: left;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.discover-btn:after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 82px;
  background-color: black;
  transition: 0.2s ease; 
}

.discover-btn:hover:after{
    width: 60px;
  background-color: var(--dark-bg);
}

.discover-btn:hover{
    color: var(--dark-bg);
}