.trending-section {
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0rem auto;
    overflow-x: hidden;
  }

  .trending-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #fff; */
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  
  .trending-left {
    flex: 1;
    z-index: 2;
  }
  
  .trending-heading {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .trending-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .trending-title {
    font-size: 26px;
    font-weight: 500;
    color: #222;
    margin-bottom: 25px;
    line-height: 1.4;
  }
  
  .trending-section .trending-discover-btn{
    padding: 10px 24px;
    border: 1px solid #d23b3b;
    color: #d23b3b;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .trending-discover-btn:hover {
    background: #d23b3b;
    color: white;
  }
  
  .trending-right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }
  
  .trending-image {
    width: 100%;
    max-width: 480px;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 100;
    position: relative;
  }
  
  /* Abstract background shapes */
  .abstract-shapes {
    position: absolute;
    right: -8%;
    top:-14%;
    width: 80%;
    height: 100%;
    background: var(--secondary-color);
    /* clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 40% 100%); */
    z-index: 10;
    border-radius: 6px;
  }
  

  .trending-section .vector-group{
    right:-60%;
    top: -40%;
    transform: rotateX(10deg);
  }